
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
    display: flex;
    height: 8vh;
    width: 100vw;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1; /* Flex-Eigenschaft hinzugefügt */
  }
  
  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1; /* Flex-Eigenschaft hinzugefügt */
  }
  
  .header-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 5; /* Flex-Eigenschaft hinzugefügt */
  }
  
  /* Die restlichen CSS-Regeln bleiben unverändert */
  

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  font-size: 1.5vw;
  background-color: lightgray;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  width: 10%;
  height: 6vh;
  font-size: 1.2vw;
  background-color: lightblue;
}

.box-long {
  width: 20%;
}

.box-top {
  height: 50%;
}

.box-bottom {
  height: 50%;
  font-weight: bold;
}

.main {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  

.frame {
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 10%;
  background-color: lightgreen;
  margin: auto;
}

.frame-left {
  align-items: flex-start;
  padding-left: 1vw;
}

.frame-right {
  align-items: flex-end;
  padding-right: 1vw;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  font-size: 2vw;
}

.frame-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  width: 90%;
  font-size: 1.5vw;
  background-color: lightgray;
  margin-bottom: 0.5%;
}

.frame-button-gap {
  margin-bottom: 2%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: 60%;
  background-color: lightyellow;
}

.content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  font-size: 3vw;
  background-color: white;
  border: 2px solid black;
}

.lorem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: 15%;
  font-size: 1.2vw;
  overflow-y: scroll;
}

.lorem-line {
  width: 90%;
  margin-bottom: 0.5%;
}