* Unicode text, UTF-8 text, with very long lines (433), with CRLF line terminators
/* *** Standard-Container ****/

h1 {
    margin: 0.05rem;
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
}

li {
    margin: 0.05rem;
    font-size: 0.75rem;
}

p {
    margin: 0;
    padding: 0 0.04rem;
    font-size: 1rem;
}


/* *** body - Manipulation *** */

.main {
    display: grid;
    margin: auto;
    width: 97%;
    /*width: 20cm; */
    /* responsibilitÃ¤t einpflegen */
    font-size: 15px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-areas: "button1 button1 . button2 button2 . button3 button3" "punkteSpielerEins punkteSpielerEins punkteSpielerZwei punkteSpielerZwei punkteSpielerDrei punkteSpielerDrei punkteSpielerVier punkteSpielerVier" "spielfeld spielfeld spielfeld spielfeld spielfeld punktemoglichkeit punktemoglichkeit punktemoglichkeit" ". . footer footer footer footer . .";
    grid-template-rows: 9vh 9vh 70vh 5vh;
    grid-template-columns: repeat(8, 12.5%);
    grid-gap: 1px;
    background-color: white;
}


/* *** Oberste Reihe - Buttons ***  */


/* *** Spielanleitung, Neustart und Button3 *** */

.buttons_class {
    display: flex;
    outline: none;
    border-radius: 1.5rem;
    border-color: 0.05rem lightgray;
    justify-content: center;
    align-items: center;
}

.buttons_class:active {
    box-shadow: 0 0 0.05rem 0.1rem black;
}

#button1 {
    grid-area: button1;
    background-color: olivedrab;
}

#button2 {
    grid-area: button2;
    background-color: orangered;
}

#button3 {
    grid-area: button3;
    background-color: lightblue;
}


/* *** Zweite Reihe - Punktetafel *** */


/* *** Spieler 1 - 4 *** */

.punkteSpieler {
    display: grid;
    margin: 0.2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 0.1rem 0.1rem black;
    align-content: center;
    text-align: center;
    grid-template-columns: 60% 35%;
}

.punkteSpieler input {
    background-color: transparent;
    color: black;
    border-color: transparent;
    margin: auto 0.3rem;
}

.punkteSpieler input:active {
    outline: none;
    border-color: transparent;
    box-shadow: transparent;
}

#punkteSpielerEins {
    background-color: salmon;
}

#punkteSpielerZwei {
    background-color: springgreen;
}

#punkteSpielerDrei {
    background-color: seagreen;
}

#punkteSpielerVier {
    background-color: mediumslateblue;
}


/* *** Dritte Reihe - Spielfeld und Punktevergabe *** */

#spielfeld {
    display: grid;
    grid-area: spielfeld;
    padding: 1rem;
    grid-template-areas: "wurfel1 wurfel1 wurfel2 wurfel2 wurfel3 wurfel3 wurfel4 wurfel4 wurfel5 wurfel5" ". . . buttonaktion buttonaktion buttonaktion buttonaktion . . ." "wurfel1alt wurfel2alt wurfel3alt wurfel4alt wurfel5alt . punkteAktuell punkteAktuell punkteAktuell punkteAktuell" "wurfel_satz1_alt wurfel_satz2_alt wurfel_satz3_alt wurfel_satz4_alt wurfel_satz5_alt . punkteAktuell punkteAktuell punkteAktuell punkteAktuell";
    grid-template-rows: 15vh 1fr repeat(2, 11vh);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
    background-color: lightsalmon;
}

#punktemoglichkeit {
    display: grid;
    grid-template-rows: 10% repeat(5, 1fr);
    grid-area: punktemoglichkeit;
    background-color: steelblue;
}


/* *** spielfeld inhalt *** */


/* WÃ¼rfel */

#wurfel1 {
    grid-area: wurfel1;
    background-color: lawngreen;
}

#wurfel2 {
    grid-area: wurfel2;
    background-color: rebeccapurple;
}

#wurfel3 {
    grid-area: wurfel3;
    background-color: aquamarine;
}

#wurfel4 {
    grid-area: wurfel4;
    background-color: lightgoldenrodyellow;
}

#wurfel5 {
    grid-area: wurfel5;
    background-color: lightblue;
}


/* *** WÃ¼rfel Button *** */

#buttonaktion {
    grid-area: buttonaktion;
    margin: auto;
    padding: 1rem;
}

#stehenLassen {
    display: none;
    grid-area: buttonwurfeln;
    margin: auto;
    padding: 1rem;
}


/* *** bisheriger Wurf *** */

.wurfelAlt_class {
    margin: auto;
    padding: 1px;
}


/* WÃ¼rfelwert letzte Runde */

#wurfel1alt {
    grid-area: wurfel1alt;
}

#wurfel2alt {
    grid-area: wurfel2alt;
}

#wurfel3alt {
    grid-area: wurfel3alt;
}

#wurfel4alt {
    grid-area: wurfel4alt;
}

#wurfel5alt {
    grid-area: wurfel5alt;
}


/* WÃ¼rfelwert vorletzte Runde */

#wurfel_satz1_alt {
    grid-area: wurfel_satz1_alt;
}

#wurfel_satz2_alt {
    grid-area: wurfel_satz2_alt;
}

#wurfel_satz3_alt {
    grid-area: wurfel_satz3_alt;
}

#wurfel_satz4_alt {
    grid-area: wurfel_satz4_alt;
}

#wurfel_satz5_alt {
    grid-area: wurfel_satz5_alt;
}


/* *** Spielanleitung *** */

#spielanleitung {
    display: none;
    grid-area: spielfeld;
    margin: auto;
    padding: 1px;
    background-color: white;
}


/* *** Punktestand - aktuelle Runde *** */

#punkteAktuell {
    display: flex;
    margin: auto;
    padding: 1px;
    background-color: lightgreen;
}


/* *** obligatorischer Footer fÃ¼r History *** */

#footer {
    display: flex;
    grid-area: footer;
    outline: none;
    background-color: sandybrown;
}


/* *** History-Fenster *** */

#history {
    display: none;
    grid-area: spielfeld;
    margin: auto;
    padding: 1px;
    background-color: white;
}
