Hier ist der CSS-Code,
bereit zum Kopieren und Einfügen: ```css
}

.Konzept Browserseite {
    body {
        position: relative;
        width: 1440px;
        height: 1024px;
        background: #FFFFFF;
    }

}

.chatBox {
    .chatBox {
        position: absolute;
        width: 317px;
        height: 742px;
        left: 1123px;
        top: 143px;
    }

}

.cahtbox-background {
    .cahtbox-background {
        position: absolute;
        left: 77.99%;
        right: 0%;
        top: 13.96%;
        bottom: 13.57%;
    }

}

.chat {
    .chat {
        position: absolute;
        width: 305px;
        height: 737px;
        left: 1130px;
        top: 148px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.85);
    }

}

.topRightCorner {
    .topRightCorner {
        position: absolute;
        width: 317px;
        height: 142px;
        left: 1123.25px;
        top: -0.25px;
    }

}

.topRightWindow {
    .topRightWindow {
        position: absolute;
        width: 317px;
        height: 142px;
        left: 1440.25px;
        top: -0.25px;
        border: 3px solid rgba(0, 0, 0, 0.85);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

}

.supportButton {
    .supportButton {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 1230px;
        top: 57px;
    }

}

.support-ellipse {
    .support-ellipse {
        box-sizing: border-box;
        position: absolute;
        width: 65px;
        height: 65px;
        left: 1230px;
        top: 57px;
        background: rgba(217, 217, 217, 0.25);
        border: 3px solid rgba(0, 0, 0, 0.85);
    }

}

.Support {
    .Support {
        position: absolute;
        width: 50px;
        height: 18px;
        left: 1237px;
        top: 81px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        border: 3px solid rgba(0, 0, 0, 0.85);
    }

}

.messageButton {
    .messageButton {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 1332px;
        top: 14px;
    }

}

.message-ellispe {
    .message-ellispe {
        box-sizing: border-box;
        position: absolute;
        width: 65px;
        height: 65px;
        left: 1332px;
        top: 14px;
        background: rgba(217, 217, 217, 0.25);
        border: 3px solid rgba(0, 0, 0, 0.85);
    }

}

.N {
    .N {
        position: absolute;
        width: 28px;
        height: 61px;
        left: 1350px;
        top: 16px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 61px;
        border: 3px solid rgba(0, 0, 0, 0.85);
    }

}

.topMiddleWindow-box {
    .topMiddleWindow-box {
        position: absolute;
        width: 1132px;
        height: 143px;
        left: 149px;
        top: 0px;
    }

}

.topMiddleWindow-background {
    .topMiddleWindow-background {
        position: absolute;
        width: 1132px;
        height: 143px;
        left: 149px;
        top: 0px;
    }

}

.ress2 {
    .ress2 {
        position: absolute;
        width: 170px;
        height: 75px;
        left: 536px;
        top: 12px;
    }

}

.ressNameBox {
    .ressNameBox {
        position: absolute;
        width: 170px;
        height: 37.5px;
        left: 536px;
        top: 12px;
        background: rgba(217, 217, 217, 0.25);
        border-radius: 35px 35px 0px 0px;
    }

}

.ressName {
    .ressName {
        position: absolute;
        width: 40px;
        height: 20px;
        left: 601px;
        top: 19px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.85);
    }

}

.ressStockBox {
    .ressStockBox {
        position: absolute;
        width: 170px;
        height: 37.5px;
        left: 536px;
        top: 87px;
        background: rgba(217, 217, 217, 0.25);
        border-radius: 35px 35px 0px 0px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }

}

.ressStock {
    .ressStock {
        position: absolute;
        width: 76px;
        height: 20px;
        left: 583px;
        top: 53px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.85);
    }

}

.ress3 {
    .ress3 {
        position: absolute;
        width: 170px;
        height: 75px;
        left: 725px;
        top: 12px;
    }

}

.ressNameBox {
    .ressNameBox {
        position: absolute;
        width: 170px;
        height: 37.5px;
        left: 725px;
        top: 12px;
        background: rgba(217, 217, 217, 0.25);
        border-radius: 35px 35px 0px 0px;
    }

}

.ressName {
    .ressName {
        position: absolute;
        width: 99px;
        height: 20px;
        left: 760px;
        top: 19px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.85);
    }

}

.ressStockBox {
    .ressStockBox {
        position: absolute;
        width: 170px;
        height: 37.5px;
        left: 725px;
        top: 87px;
        background: rgba(217, 217, 217, 0.25);
        border-radius: 35px 35px 0px 0px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }

}

.ressStock {
    .ressStock {
        position: absolute;
        width: 75px;
        height: 20px;
        left: 772px;
        top: 53px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.85);
    }

}

.ress4 {
    .ress4 {
        position: absolute;
        width: 170px;
        height: 75px;
        left: 914px;
        top: 12px;
    }

}

.ressNameBox {
    .ressNameBox {
        position: absolute;
        width: 170px;
        height: 37.5px;
        left: 914px;
        top: 12px;
        background: rgba(217, 217, 217, 0.25);
        border-radius: 35px 35px 0px 0px;
    }

}

.ressName {
    .ressName {
        position: absolute;
        width: 83px;
        height: 20px;
        left: 957px;
        top: 19px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.85);
    }

}

.ressStock {

    position: absolute;
    width: 77px;
    height: 20px;
    left: 393px;
    top: 53px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.85);



}

.queue-boxen {

    position: absolute;
    width: 324px;
    height: 40px;
    left: 558px;
    top: 94px;



}

.forschung-queue-box {

    position: absolute;
    width: 324px;
    height: 20px;
    left: 558px;
    top: 114px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 0px 0px 30px 30px;


}

.building-queue-box {

    position: absolute;
    width: 324px;
    height: 20px;
    left: 558px;
    top: 94px;

    background: rgba(217, 217, 217, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.85);
    border-radius: 30px 30px 0px 0px;


}

.Bauhof {

    position: absolute;
    width: 54px;
    height: 17px;
    left: 586px;
    top: 95px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.85);



}

.Eisenmine {

    position: absolute;
    width: 153px;
    height: 17px;
    left: 712px;
    top: 95px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.85);



}

.Forschung {

    position: absolute;
    width: 78px;
    height: 17px;
    left: 586px;
    top: 115px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.85);



}

.Warpantrieb {

    position: absolute;
    width: 153px;
    height: 17px;
    left: 712px;
    top: 115px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.85);



}

.clockGroup {

    position: absolute;
    width: 317px;
    height: 72px;
    left: 0px;
    top: 143px;



}

.clockBackground {

    position: absolute;
    width: 317px;
    height: 72px;
    left: 0px;
    top: 143px;

    border-width: 3px 0px 3px 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.85);


}

.clock {

    position: absolute;
    width: 153px;
    height: 55px;
    left: 64px;
    top: 152px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
}

.identical to box height {

    color: rgba(0, 0, 0, 0.85);



}

.topLeftCorner {

    position: absolute;
    width: 315px;
    height: 140px;
    left: 1px;
    top: 1px;



}

.topLeftWindow-box {

    position: absolute;
    width: 315px;
    height: 140px;
    left: 1px;
    top: 1px;

    border: 3px solid rgba(0, 0, 0, 0.85);


}

.button-class-ellipse-frame {

    position: absolute;
    width: 68px;
    height: 81px;
    left: 32px;
    top: 20px;



}

.button-class-ellipse {

    position: absolute;
    width: 68px;
    height: 68px;
    left: 0px;
    top: 0px;



}

.outer-circle-logout {

    position: absolute;
    width: 68px;
    height: 68px;
    left: 0px;
    top: 0px;

    background: rgba(98, 98, 98, 0.15);
    border: 3px solid rgba(0, 0, 0, 0.85);


}

.inner-circle-logout {

    position: absolute;
    width: 54px;
    height: 54px;
    left: 7px;
    top: 7px;

    background: rgba(187, 42, 42, 0.35);
    border: 3px solid rgba(0, 0, 0, 0.85);


}

.Ellipse-logout {

    position: absolute;
    width: 22px;
    height: 46px;
    left: 57px;
    top: 23px;

    background: rgba(0, 0, 0, 0.85);
    border: 3px solid rgba(0, 0, 0, 0.85);
    transform: rotate(90deg);


}

.Logout {

    position: absolute;
    width: 36px;
    height: 16px;
    left: 15px;
    top: 26px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.identical to box height {

    color: rgba(255, 255, 255, 0.85);



}

.discordButton {

    position: absolute;
    width: 65px;
    height: 65px;
    left: 137px;
    top: 54px;



}

.button-class-ellipse {

    position: absolute;
    width: 65px;
    height: 65px;
    left: 137px;
    top: 54px;

    background: rgba(217, 217, 217, 0.25);
    border: 3px solid rgba(0, 0, 0, 0.85);


}

.DC {

    position: absolute;
    width: 43px;
    height: 46px;
    left: 148px;
    top: 64px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;

    border: 3px solid rgba(0, 0, 0, 0.85);


}

.mainBody {

    position: absolute;
    width: 806px;
    height: 760px;
    left: 317px;
    top: 143px;

    background: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 0.85);


}

.mainBody-background {

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;



}

.menu-box {

    position: absolute;
    width: 314px;
    height: 685px;
    left: 0px;
    top: 218px;



}

.menuBox-background {

    position: absolute;
    width: 314px;
    height: 685px;
    left: 0px;
    top: 218px;



}

.bauhof-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 235px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 235px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Bauhof {

    position: absolute;
    width: 73px;
    height: 30px;
    left: 69px;
    top: 238px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.handel-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 466px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 466px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Handel {

    position: absolute;
    width: 73px;
    height: 30px;
    left: 69px;
    top: 469px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.allianz-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 680px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 680px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Allianz {

    position: absolute;
    width: 68px;
    height: 30px;
    left: 69px;
    top: 683px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.werft-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 275px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 275px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Werft {

    position: absolute;
    width: 58px;
    height: 30px;
    left: 69px;
    top: 278px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.karte-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 506px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 506px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Karte {

    position: absolute;
    width: 56px;
    height: 30px;
    left: 69px;
    top: 509px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.account-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 777px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 777px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Account {

    position: absolute;
    width: 85px;
    height: 30px;
    left: 69px;
    top: 780px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.labor-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 315px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 315px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Labor {

    position: absolute;
    width: 57px;
    height: 30px;
    left: 69px;
    top: 318px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.flotte-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 546px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 546px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Flotte {

    position: absolute;
    width: 58px;
    height: 30px;
    left: 69px;
    top: 549px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.nachrichten-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 817px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 817px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Nachrichten {

    position: absolute;
    width: 127px;
    height: 30px;
    left: 69px;
    top: 820px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.verteidigung-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 355px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 355px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Verteidigung {

    position: absolute;
    width: 135px;
    height: 30px;
    left: 69px;
    top: 358px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);



}

.ubersicht-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 586px;



}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 586px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;


}

.Übersicht {

    position: absolute;
    width: 101px;
    height: 30px;
    left: 69px;
    top: 589px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);
}

.support-box {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 857px;
}

.Rectangle-klasse menu-boxen {

    position: absolute;
    width: 237px;
    height: 35px;
    left: 32px;
    top: 857px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 25px;
}

.Support {

    position: absolute;
    width: 82px;
    height: 30px;
    left: 69px;
    top: 860px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.85);
}

.footerBox {

    position: absolute;
    width: 1440px;
    height: 119px;
    left: 0px;
    top: 905px;

    border: 3px solid rgba(0, 0, 0, 0.85);
}